<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395509637244-t89sknh78isvaldfbu84de0qp82ip3mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395509637244-t89sknh78isvaldfbu84de0qp82ip3mg</string>
	<key>API_KEY</key>
	<string>AIzaSyAc7-ruHMAHU9qIWYR6gfQ2IdiGDHMEIdc</string>
	<key>GCM_SENDER_ID</key>
	<string>395509637244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tryConnectingFirebase</string>
	<key>PROJECT_ID</key>
	<string>chat-app-da682</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-da682.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395509637244:ios:ef925ac3b452037b19a9f9</string>
</dict>
</plist>